:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;
  --color-secondary: #101d2c;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-light-1:#f8f8f8

  --olor-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  /* FONT VARIABLES */
  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
}
html {
  font-size: 62.5%; /* => 10px */
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-2);
  font-weight: 300;
  line-height: 1.7;
}
.container {
  display: grid;
  grid-template-rows: 65vh repeat(6, min-content);
  grid-template-columns:
    1fr repeat(9, minmax(min-content, 14em))
    1fr;
  grid-gap: 20px;
  overflow-x: hidden;
  min-height: 100vh;
}
h6,
h5 {
  margin-top: 1em;
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
